body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-group{
    display: flex;
    margin-bottom: 20px;
}

#task-input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

#add-task-btn{
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #28a745;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#add-task-btn:hover {
background-color: #218838;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.remove-task-btn{
    background-color:#dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

button.remove-task-btn:hover{
    background-color: #c82333;
}

